@media print, (max-width: 767px) {

    :root {
        --font_size_title: 30px;
        --font_size: 18px;
    }
    .footer_wrap {
        margin: 0px 12px 0;
    }
    .header_phone {
        font-size: 20px;
    }
    .header_author-name {
        font-size: 16px;
        margin-bottom: 3px;
        line-height: 1.2;
    }
    .header_author-post {
        font-size: 14px;
    }
    .header_left {
        max-width: 180px;
    }
    .header_soc {
        display: none;
    }
    .reviews_items {
        gap: 16px;
    }
    .reviews_items > * {
        width: 100%;
    }
    .reviews_item-text {
        padding: 12px;
        color: var(--text_color);
        font-size: 14px;
    }
    .about_list {
        column-count: 1;
    }
    .footer_item:nth-child(1), 
    .footer_item:nth-child(2) {
        width: 100%;
    }
    .footer_item-title {
        font-size: 18px;
        color: #7E7E7E;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .footer_item-title.active {
        color: #fff;
    }
    .footer_item-title .icon {
        stroke: #7E7E7E;
        display: block;
        width: 14px;
        height: 9px;        
    }
    .footer_item-title.active .icon {
        stroke: #fff;
        transform: rotate(180deg);
    }
    .footer_item:nth-child(2) {
        position: relative;
        padding-top: 12px;
    }
    .footer_item-title {
        margin-bottom: 0;
    }
    .footer_items {
        gap: 12px;
    }
    .footer_item:nth-child(2):before {
        position: absolute;
        content: "";
        width: calc(100% + 40px);
        height: 1px;
        left: -20px;
        top: 0;
        background: rgba(255, 255, 255, .06); 
    }
    .footer_item ul {
        margin-top: 12px;
    }
    .footer_item-wrapper {
        column-count: 1;        
    }
    .footer_item-soc {
        margin-bottom: 24px;
    }
    .footer_item-mail {
        margin-bottom: 16px;
    }
    .footer_item-text {
        position: relative;
        padding-top: 12px;
    }
    .footer_item-text:before {
        position: absolute;
        content: "";
        width: calc(100% + 40px);
        height: 1px;
        left: -20px;
        top: 0;
        background: rgba(255, 255, 255, .06); 
    }
    .footer_bottom-title {
        font-size: 18px;
    }
    .footer_bottom-text {
        font-size: 14px;
    }
    .consult_btn a {
        padding: 13px 4px;
    }
    .quiz_form .field label {
        padding-left: 28px;
    }
    .advantages_item-title br {
        display: none;
    }
 
    .table {
        background: none;
    }
    .table-responsive-stack tr {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        display:block;  
        border-bottom: 12px solid #f7f7f9;    
        border-radius: 0 0 12px 12px; 
    }  
    .table-responsive-stack tr:last-child {
        border-bottom: none; 
    }  
    .table-responsive-stack td {
        width: 100%;
    }
    tbody tr td:first-child {
        border-radius: 12px 12px 0 0;
        font-size: 16px;
        line-height: 1.5;
        font-weight: 400;
        background: linear-gradient(360deg, #FFD600 0%, rgba(255, 214, 0, 0.21) 97%);
    }
    .table-responsive-stack td, 
    .table-responsive-stack th {
        padding: 10px 24px;
        text-align: start;
        font-size: 16px;
        background: #fff;
    }
    .table-responsive-stack .table-responsive-stack-thead {
        color: #7E7E7E;
    }
    tbody tr td:first-child .table-responsive-stack-thead {
        color: #574D18;
    }
    .indicators_item-title {
        font-size: 30px;
        margin-bottom: 16px;
    }
    .indicators_item-text {
        font-size: 20px;
    }
    .indicators_items {
        flex-direction: column;
        gap: 24px;
    }
    .indicators_item:first-child .indicators_item-text {
        margin-top: 0px;
    }
    .indicators_wrap {
        padding: 24px;
    }
    .promotion_title {
        font-size: 36px;
        text-align: center;
        margin-bottom: 6px;
    }
    .promotion {
        padding: 24px 0 130px;
    }
    .promotion .cont {
        padding: 0 42px;
    }
    .promotion_item {
        display: inline-block;
        font-size: 16px;
    }
    .promotion_items {
        display: block;
        margin: 0 auto;
        text-align: center;
    }
    .promotion_item + .promotion_item {
        margin-top: 6px;
    }
    .text {
        font-size: 20px;
    }
    .diagrama_img {
        width: 100%;
        height: auto;
    }
    .diagrama_list {
        columns: 1;
        margin: 0 30px;
    }
    .diagrama_list li + li {
        margin-top: 20px;
    }
    .first-section_title {
        font-size: 36px;
        line-height: 44px;
    }
    .first-section_text {
        line-height: 1.21;
        font-size: 24px;
        max-width: 325px;
    }
    .first-section_text span:nth-child(1):after {
        width: 24px;
        height: 24px;
        top: 5px;
        right: -25px;
        background-size: cover;
    }
    .first-section_text span {
        margin-right: 25px;
    }
    .first-section_text span:nth-child(2):after {
        width: 18px;
        height: 24px;
        top: 4px;
        right: -25px;
        background-size: cover;
    }
    .first-section_title b:before {
        width: 169px;
        height: 35px;
        left: 0px;
    }
    .consult {
        margin-top: 24px;
    }
    .consult_text {
        font-size: 16px;
    }
    .first-section_img img:nth-child(1) {
        display: none;
    }
    .first-section_img {
        width: 199px;
        height: 196px;
    }
    .first-section_img img:nth-child(2) {
        display: block;
    }
    .quiz_form-title {
        font-size: 20px;
        margin-bottom: 15px;
    }
    .quiz_form .field {
        padding: 13px 10px;
    }
    .callback_title {
        max-width: 300px;
        justify-content: center;
        margin: 0 auto 9px;
    }
    .callback_title br {
        display: block;
    }
    .callback_phone {
        font-size: 30px;
        line-height: 1.2;
        margin-bottom: 16px;
    }
    .quiz_btns {
        flex-direction: column;
        gap: 12px;
        margin-top: 12px;
    }
    .quiz_btn {
        width: 100%;
    }
    .quiz form .quiz_phone {
        width: 100%;
    }
    .quiz_wrap-icon {
        width: 90px;
        height: 90px;
        margin: 54px auto 0;
    }
    .loader {
        width: 90px;
        height: 90px;
    }
    .quiz_form-text {
        font-size: 16px;
    }
    .quiz_form-text a span {
        font-size: 16px;
    }
    .quiz_form-text img {
        width: 24px;
        height: 24px;
    }
    .step_list-title:before {
        width: 39px;
        height: 39px;
    }
    header {
        padding: 14px 0;
    }
    .sertificat .swiper-horizontal>.swiper-pagination-bullets, 
    .sertificat .swiper-pagination-bullets.swiper-pagination-horizontal {
        bottom: -25px;
    }
    .price .swiper {
        margin-top: 100px;
    }
    .price .swiper-pagination-bullet,
    .price .swiper-pagination-bullet-active {
        font-size: 18px;
    }
    .footer_wrap {
        padding: 24px 0;
    }
    .price .swiper-horizontal>.swiper-pagination-bullets, 
    .price .swiper-pagination-bullets.swiper-pagination-horizontal {
        top: 80px;
    }




  

}



@media print, (max-width: 670px) {

    .result_items {
        margin-left: 0px;
    }
    .result_items > * {
        width: 100%;
        margin-left: 0px;
    }
    .advantages_items > * {
        padding: 14px;
        flex-direction: row;
        width: 100%;
    }    
    .advantages_item-title br {
        display: block;
    }


}