@media print, (max-width: 1023px) {
 
    .result_items > * {
        width: calc(100% / 2 - 12px);
        margin-left: 12px;
        margin-bottom: 12px;
    }
    .result_items {
        margin-left: -12px;
        margin-bottom: -12px;
    }
    .link-more {
        width: 100% !important;
    }
    .title {
        line-height: 1.4;
        margin-bottom: 16px;
    }
    .title b span:before {
        width: 176px;
        height: 35px;
    }
    .callback_label {
        display: none;
    }
    .callback_label-mob {
        display: block;
        font-size: 16px;
        line-height: 2;
        font-weight: 400;
        color: #7E7E7E;
        text-align: center;
    }
    .callback_left {
        width: 100%;
    }
    .callback_wrap {
        flex-direction: column;
    }
    .callback_box {
        align-items: flex-end;
    }
    .callback_right {
        width: 100%;
    }
    .quiz_form .line {
        margin-left: -12px;
        margin-bottom: -12px;
    }
    .quiz_form .line > * {
        width: calc(100% / 2 - 12px);
        margin-left: 12px;
        margin-bottom: 12px;
    }
    .reviews_item-top {
        margin-bottom: 11px;
        margin-left: 0;
    }
    .reviews_item-text:before {
        left: 18px;
    }
    .reviews_item-name {
        font-size: 16px;
    }
    .about_wrap {
        flex-direction: column-reverse;
        gap: 41px;
    }
    .about_img {
        width: 100%;
        height: auto;
    }
    .about_list {
        width: 100%;
        column-count: 2;
    }
    .about_list li {
        font-size: 16px;
        line-height: 1.5;
    }
    .footer_item-title {
        font-size: 20px;
    }
    .footer_item ul li b {
        font-size: 16px;
    }
    .footer_item-phone {
        font-size: 30px;
        white-space: nowrap;
    }
    .footer_item-mail {
        font-size: 20px;
    }
    .footer_item-text {
        font-size: 14px;
    }
    footer .consult_btn {
        margin-bottom: 0px;
    }
    .consult_btn {
        gap: 6px;
    }
    .title_white {
        line-height: 1.2;
    }
    .footer_bottom-title {
        font-size: 20px;
    }
    .block {
        padding: 24px 0 24px;
    }
    .footer_bottom {
        padding: 24px 0px 0px;
    }
    .cont {
        padding: 0 12px;
    }
    .indicators_item-title {
        text-align: center;
    }
    .indicators_item-text {
        font-size: 24px;
        text-align: center;
    }
    .promotion_title {
        font-size: 48px;
        max-width: 523px;
        margin-bottom: 12px;
    }
    .promotion_item {
        font-size: 18px;
    }
    .promotion_items {
        max-width: 559px;
    }
    .promotion {
        padding: 32px 0 230px;
        background-position: 70% -45%;
        background-size: cover;
        margin: 0 12px;
    }
    thead tr,
    table {
        font-size: 16px;
    } 
    .indicators_item-text {
        font-size: 24px;
    }
    .indicators_item:first-child .indicators_item-text {
        margin-top: 48px;
    }
    .first-section, 
    .result, 
    .callback {
        margin: 0 12px;
    }
    .consult {
        margin-top: 27px;
        padding: 0 16px 16px;
    }
    .consult_text:before {
        width: calc(100% + 32px);
        left: -32px;
    }
    .quiz_form-title {
        font-size: 24px;
        margin-bottom: 16px;
    }
    .callback_title img {
        width: 78px;
        height: 77px;
    }
    .callback_messages {
        font-size: 16px;
    }
    .quiz_btn {
        width: 50%;
    }
    .quiz form .quiz_phone {
        width: 50%;
    }
    .stage {
        display: none;
    }
    .step {
        display: block;
    }
    .step_item-icon {
        margin: 0 auto 16px;
        display: flex;
        justify-content: center;
        align-items: end;
        padding: 25px 20px 0;
        background: #FAFAFA;
        width: 100%;
        text-align: center;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.04);
        border-radius: 12px;
        height: 140px;
    }
    .step_item:nth-child(1) .step_item-icon img {
        width: 146px;
        height: 133px;
    }
    .step_item:nth-child(2) .step_item-icon img {
        width: 158px;
        height: 124px;
    }
    .step_item:nth-child(3) .step_item-icon img {
        width: 115px;
        height: 115px;
    }
    .step_item:nth-child(4) .step_item-icon img {
        width: 162px;
        height: 116px;
    }
    .step_item:nth-child(5) .step_item-icon img {
        width: 131px;
        height: 128px;
    }
    .step_item:nth-child(6) .step_item-icon img {
        width: 145px;
        height: 121px;
    }
    .step_item:nth-child(7) .step_item-icon img {
        width: 154px;
        height: 118px;
    }
    .step_item:nth-child(8) .step_item-icon img {
        width: 147px;
        height: 124px;
    }
    .step_item:nth-child(9) .step_item-icon img {
        width: 112px;
        height: 131px;
    }
    .step_list-title {
        font-size: 18px;
        line-height: 1.5;
        font-weight: 700;
        padding-left: 51px;
        margin-bottom: 12px;
        position: relative;
    }
    .step_list-title:before {
        counter-increment: tidbit-counter;
        content: "0" counter(tidbit-counter);
        color: var(--text_color);
        font-size: 18px;
        font-weight: 700;
        line-height: 150%;
        border-radius: 12px;
        background: rgb(255, 214, 0);
        width: 44px;
        height: 39px;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 50%;
        transform: translateY(-50%);
        left: 0px;
        position: absolute;
    }
    .step_list-text {
        font-size: 16px;
        line-height: 1.5;
        font-weight: 400;
        margin-bottom: 12px;
    }
    .step_list ul {
        list-style: none;
    }
    .step_list ul li {
        padding-left: 24px;
        color: rgb(126, 126, 126);
        font-size: 16px;
        font-weight: 400;
        line-height: 200%;  
        display: block;
        background: url(../images/arrow.svg) 0 11px no-repeat;
        background-size: 13px 12px;
    }
    .step_items {
        display: flex;
        flex-wrap: nowrap;
        overflow: auto;
        gap: 12px;
        counter-reset: tidbit-counter;
    }
    .step_item {
        flex: 0 0 296px;
        padding: 16px;
        background: #fff;
        border-radius: 12px;
        display: flex;
        flex-direction: column;        
    }
    .step_items::-webkit-scrollbar { 
        width: 0; 
    }
    .step_items { 
        -ms-overflow-style: none; 
    }
    .step_items { 
        overflow: -moz-scrollbars-none; 
    }
    .step_list ul {
        overflow: hidden;
        position: relative;    
    }
    .step_list ul.hide {
        height: 300px;
    }
    .step_list ul.hide:after{
        content: "";
        display: block;
        height: 150px;
        width: 100%;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 50px;
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), #fff 75%)
    }
    .content_toggle {
       z-index: 555;
        position: absolute; 
        left: 50%;
        transform: translateX(-50%);
        bottom: 70px;
    }
    .content_toggle .icon {
        width: 14px;
        height: 9px;
        stroke: #191916;  
        transform: rotate(180deg);      
    }
    .step_list {
        position: relative;
    }


    .price .swiper {
        margin-top: 80px;
    }
    .price .swiper-pagination {
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: calc(100% - 40px);
        background: #fff;
        height: 56px;
        border-bottom: 3px solid #E5E5E8;
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.04);
        border-radius: 12px 12px 0 0;
        margin: 0 20px;
    }  
    .price .box {
        border-radius: 0;
        font-size: 12px;
        width: 33%;
        height: 30px;
        display: flex;        
        background: #fff;
    }  
    .price .swiper-pagination-bullet {
        opacity: 1 !important;
        margin: 0 auto;
        position: relative;
        color: #7E7E7E;
        font-size: 20px;
        display: block;
    }  
    .price .swiper-pagination-bullet .bigNumber {
        display: none;
    }      
    .price .swiper-pagination-bullet-active {
        border-bottom-color: #FFD600;
        position: relative;
    }  
    .price .swiper-pagination-bullet-active:before {
        position: absolute;
        content: "";
        width: 100%;
        height: 3px;
        background: #FFD600;
        bottom: -13px;
        left: 0;
    }
    .price .swiper-pagination-bullet-active .text2 {
        font-size: 20px;
        font-weight: 700;
        color: #191916;
    }
    .price .swiper-slide.swiper-slide-prev,
    .price .swiper-slide.swiper-slide-next {
        opacity: 0.16;
        filter: blur(3px);
    }
    .price .swiper-horizontal>.swiper-pagination-bullets, 
    .price .swiper-pagination-bullets.swiper-pagination-horizontal {
        top: 110px;
    }
    .price_item-title {
        display: none;
    }







    
}
