@media print, (max-width: 1023px) {
 
    .result_items > * {
        width: calc(100% / 2 - 12px);
        margin-left: 12px;
        margin-bottom: 12px;
    }
    .result_items {
        margin-left: -12px;
        margin-bottom: -12px;
    }
    .link-more {
        width: 100% !important;
    }
    .title {
        line-height: 1.4;
        margin-bottom: 16px;
    }
    .title b span:before {
        width: 176px;
        height: 35px;
    }
    .callback_label {
        display: none;
    }
    .callback_label-mob {
        display: block;
        font-size: 16px;
        line-height: 2;
        font-weight: 400;
        color: #7E7E7E;
        text-align: center;
    }
    .callback_left {
        width: 100%;
    }
    .callback_wrap {
        flex-direction: column;
    }
    .callback_box {
        align-items: flex-end;
    }
    .callback_right {
        width: 100%;
    }
    .quiz_form .line {
        margin-left: -12px;
        margin-bottom: -12px;
    }
    .quiz_form .line > * {
        width: calc(100% / 2 - 12px);
        margin-left: 12px;
        margin-bottom: 12px;
    }
    .reviews_item-top {
        margin-bottom: 11px;
        margin-left: 0;
    }
    .reviews_item-text:before {
        left: 18px;
    }
    .reviews_item-name {
        font-size: 16px;
    }
    .about_wrap {
        flex-direction: column-reverse;
        gap: 41px;
    }
    .about_img {
        width: 100%;
        height: auto;
    }
    .about_list {
        width: 100%;
        column-count: 2;
    }
    .about_list li {
        font-size: 16px;
        line-height: 1.5;
    }
    .footer_item-title {
        font-size: 20px;
    }
    .footer_item ul li b {
        font-size: 16px;
    }
    .footer_item-phone {
        font-size: 30px;
        white-space: nowrap;
    }
    .footer_item-mail {
        font-size: 20px;
    }
    .footer_item-text {
        font-size: 14px;
    }
    footer .consult_btn {
        margin-bottom: 0px;
    }
    .consult_btn {
        gap: 6px;
    }
    .title_white {
        line-height: 1.2;
    }
    .footer_bottom-title {
        font-size: 20px;
    }
    .block {
        padding: 24px 0 24px;
    }
    .footer_bottom {
        padding: 24px 0px 0px;
    }
    .cont {
        padding: 0 12px;
    }
    .indicators_item-title {
        text-align: center;
    }
    .indicators_item-text {
        font-size: 24px;
        text-align: center;
    }
    .promotion_title {
        font-size: 48px;
        max-width: 523px;
        margin-bottom: 12px;
    }
    .promotion_item {
        font-size: 18px;
    }
    .promotion_items {
        max-width: 559px;
    }
    .promotion {
        padding: 32px 0 230px;
        background-position: 70% -45%;
        background-size: cover;
        margin: 0 12px;
    }
    thead tr,
    table {
        font-size: 16px;
    } 
    .indicators_item-text {
        font-size: 24px;
    }
    .indicators_item:first-child .indicators_item-text {
        margin-top: 48px;
    }
    .first-section, 
    .result, 
    .callback {
        margin: 0 12px;
    }
    .consult {
        margin-top: 27px;
        padding: 0 16px 16px;
    }
    .consult_text:before {
        width: calc(100% + 32px);
        left: -32px;
    }
    .quiz_form-title {
        font-size: 24px;
        margin-bottom: 16px;
    }







    
}
