@media print, (max-width: 1300px) {

    :root {
        --font_size_title: 42px;
        --font_size: 18px;
    }
    .swiper-button-prev {
        display: none;
    }
    .swiper-button-next {
        display: none;
    }

    .header_left {
        max-width: 520px;
    }
    



}

