/* For old browsers */
@supports (not(--css: variables)) {
    .supports_error {
        display: flex !important;
    }
}

/* For IE */
@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
    .supports_error {
        display: flex !important;
    }
}



/*------------------
    Reset styles
------------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*:before,
*:after {
    box-sizing: border-box;
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;

    overscroll-behavior: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-overflow-scrolling: touch;
    text-rendering: optimizeLegibility;
    text-decoration-skip: objects;
}

img {
    border-style: none;
}

textarea {
    overflow: auto;
}

input,
textarea,
input:active,
textarea:active,
button {
    margin: 0;

    -webkit-border-radius: 0;
    border-radius: 0;
    outline: none transparent !important;
    box-shadow: none;

    -webkit-appearance: none;
    appearance: none;
    -moz-outline: none !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    margin: 0;

    -webkit-appearance: none;
}

input[type=number] {
    -moz-appearance: textfield;
}

:focus {
    outline: 0;
}

:hover,
:active {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
}


::-ms-clear {
    display: none;
}





/*-------------------
    Global styles
-------------------*/
:root {
    --bg: #fff;
    --scroll_width: 17px;
    --text_color: #191916;
    --font_size: 18px;
    --font_size_title: 45px;
    --font_family: "Inter Tight", sans-serif;

}


::selection {
    color: #fff;

    background: #18A0FB;
}

::-moz-selection {
    color: #fff;

    background: #18A0FB;
}


.clear {
    clear: both;
}

.left {
    float: left;
}

.right {
    float: right;
}



html {
    height: 100%;
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height: fill-available;
}

body {
    color: var(--text_color);
    font-family: var(--font_family);
    font-size: var(--font_size);    
    height: 100%;
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height: fill-available;
}


button {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;

    display: inline-block;

    cursor: pointer;
    vertical-align: top;

    border: none;
    background: none;
}


.wrap {
    position: relative;

    display: flex;
    overflow: hidden;
    flex-direction: column;

    min-width: 360px;
    min-height: 100%;

    background: #f7f7f9;
}


.main {
    flex: 1 0 auto;
}


.cont {
    width: 100%;
    max-width: 1296px;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
}


.lozad {
    transition: opacity .5s linear;

    opacity: 0;
}

.lozad.loaded {
    opacity: 1;
}


.row {
    display: flex;

    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
}



.overlay {
    position: fixed;
    z-index: 102;
    top: 0;
    left: 0;

    display: none;

    width: 100%;
    height: 100%;

    opacity: .65;
    background: #000;
}



.supports_error {
    font-size: 20px;
    line-height: 30px;

    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;

    display: none;

    width: 100%;
    height: 100%;
    padding: 20px;

    text-align: center;

    background: #fff;

    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.supports_error.show {
    display: flex;
}



/* header */

header {
    padding: 18px 0 19px;
}
.header_wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header_left {
    display: flex;
    align-items: center; 
    justify-content: space-between;
    max-width: 575px;
    width: 100%;
}
.header_author {
    display: flex;
    align-items: center;
    gap: 16px;
}
.header_author-photo {
    width: 64px;
    height: 64px;
}
.header_author-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.header_author-name {
    font-family: 'Inter Tight';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    color: #191916;
    margin-bottom: 6px;
}
.header_author-post {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    color: #FFD600;
    padding: 3px 6px;
    background: #191916;
    border-radius: 500px;
    text-align: center;
}
.header_rating-text {
    font-family: 'Inter Tight';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #191916;
}
.header_rating-text span {
    font-weight: 700;
    padding: 3px 6px;
    background: #FFD600;
    border-radius: 100px;
}
.header_rating-text a {
    text-decoration: none;
    background:#0D8043;
    font-weight: 700;
    padding: 3px 6px;
    border-radius: 100px;
    color: #fff;
}
.header_right {
    display: flex;
    align-items: center;
    gap: 34px;
}
.header-contact {
    text-align: end;
}
.header_phone {
    text-decoration: none;
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
    letter-spacing: 0%;
    color: rgb(25, 25, 22);
}
.header_time {
    font-family: 'Inter Tight';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #7E7E7E;
}
.header_soc {
    display: flex;
    gap: 12px;
}
.header_soc-item {
    text-decoration: none;
    width: 64px;
    height: 64px;
    border-radius: 12px;   
    display: flex; 
    align-items: center;
    justify-content: center;
    transition: all ease .4s;
}
.header_soc-item:nth-child(1) {
    border: 2px solid #3ADC57;
}
.header_soc-item:nth-child(2) {
    border: 2px solid #34B0DF;
}
.header_soc-item .icon1 {
    fill: #3ADC57;    
    width: 32px;
    height: 32px;
}
.header_soc-item .icon2 {
    fill: #34B0DF;    
    width: 32px;
    height: 26px;
}
.header_soc-item:hover .icon1 {
    fill: #fff;
    transition: all ease .4s;
}
.header_soc-item:hover .icon2 {
    fill: #fff;
    transition: all ease .4s;
}




/* first-section */

.first-section {
    padding: 48px 0 56px;
    border-radius: 16px;
    margin: 0 166px;    
    background: url(../images/first-section_img.png), linear-gradient(0.00deg, rgb(255, 214, 0) 33.736%,rgba(255, 214, 0, 0.21) 98.012%);
    background-repeat: no-repeat;
    background-position: 80% center;
}
.first-section_title {
    font-size: 56px;
    font-weight: 500;
    line-height: 68px;
    color: rgb(87, 77, 24);
}
.first-section_title b {
    font-weight: 800;
    color: #191916;
    position: relative;
    z-index: 2;
}
.first-section_title b:before {
    transform: rotate(-2deg);
    content: "";
    z-index: -1;
    width: 470px;
    height: 78px;
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(92.29deg, rgba(255, 255, 255, 0) 0.042%,rgb(255, 255, 255) 8.062%,rgba(255, 255, 255, 0) 100.287%);
}
.first-section_text {
    color: rgb(25, 25, 22);
    font-size: 36px;
    font-weight: 400;
    line-height: 44px;
    display: flex;
    align-items: center;
}
.first-section_text .icon1 {
    width: 38px;
    height: 38px;
    display: block;
    margin: 0 10px;
}
.first-section_text .icon2 {
    width: 30px;
    height: 38px;
    display: block;
    margin: 0 10px;
}
.consult {
    border-radius: 16px;
    box-shadow: 0px 6px 16px 0px rgba(0, 0, 0, 0.12);
    background: rgb(255, 255, 255);  
    padding: 24px;
    max-width: 636px;
    margin-top: 32px;
}
.consult_text {
    color: rgb(25, 25, 22);
    font-size: 18px;
    font-weight: 500;
    line-height: 150%;   
    display: flex;
    align-items: center;
    justify-content: center; 
    gap: 16px;
    margin-bottom: 29px;
}
.consult_title {
    color: rgb(25, 25, 22);
    font-size: 24px;
    font-weight: 600;
    line-height: 150%;
    margin-bottom: 12px;
    text-align: center;
}
.consult_btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    margin-bottom: 16px;
}
.consult_btn a {
    text-decoration: none;
    padding: 21px 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
    line-height: 150%;
    width: 100%;
    text-align: center;
}
.consult_btn a:nth-child(1) {
    border-radius: 12px;
    box-shadow: 0px 2px 0px 0px rgb(24, 158, 48);
    background: linear-gradient(180.00deg, rgb(97, 253, 125) 0%,rgb(37, 207, 67) 100%);   
}
.consult_btn a:nth-child(2) {
    border-radius: 12px;
    box-shadow: 0px 2px 0px 0px rgb(14, 90, 141);
    background: linear-gradient(211.72deg, rgb(52, 176, 223) 53.497%,rgb(30, 136, 211) 125.856%);
}
.consult_btn a .icon1 {
    width: 25px;
    height: 24px;
}
.consult_btn a .icon2 {
    width: 25px;
    height: 20px;
}
.consult_label {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    color: rgb(126, 126, 126);
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
}
.consult_label .icon {
    width: 26px;
    height: 26px;
}
.consult_text {
    color: rgb(25, 25, 22);
    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0%;
}
.consult_text span {
    text-shadow: rgb(25, 25, 22) 5px 0px 0px, rgb(25, 25, 22) 4.90033px 0.993347px 0px, rgb(25, 25, 22) 4.60531px 1.94709px 0px, rgb(25, 25, 22) 4.12668px 2.82321px 0px, rgb(25, 25, 22) 3.48353px 3.58678px 0px, rgb(25, 25, 22) 2.70151px 4.20736px 0px, rgb(25, 25, 22) 1.81179px 4.6602px 0px, rgb(25, 25, 22) 0.849836px 4.92725px 0px, rgb(25, 25, 22) -0.145998px 4.99787px 0px, rgb(25, 25, 22) -1.13601px 4.86924px 0px, rgb(25, 25, 22) -2.08073px 4.54649px 0px, rgb(25, 25, 22) -2.94251px 4.04248px 0px, rgb(25, 25, 22) -3.68697px 3.37732px 0px, rgb(25, 25, 22) -4.28444px 2.57751px 0px, rgb(25, 25, 22) -4.71111px 1.67494px 0px, rgb(25, 25, 22) -4.94996px 0.7056px 0px, rgb(25, 25, 22) -4.99147px -0.291871px 0px, rgb(25, 25, 22) -4.83399px -1.27771px 0px, rgb(25, 25, 22) -4.48379px -2.2126px 0px, rgb(25, 25, 22) -3.95484px -3.05929px 0px, rgb(25, 25, 22) -3.26822px -3.78401px 0px, rgb(25, 25, 22) -2.4513px -4.35788px 0px, rgb(25, 25, 22) -1.53666px -4.75801px 0px, rgb(25, 25, 22) -0.560763px -4.96845px 0px, rgb(25, 25, 22) 0.437495px -4.98082px 0px, rgb(25, 25, 22) 1.41831px -4.79462px 0px, rgb(25, 25, 22) 2.34258px -4.41727px 0px, rgb(25, 25, 22) 3.17346px -3.86382px 0px, rgb(25, 25, 22) 3.87783px -3.15633px 0px, rgb(25, 25, 22) 4.4276px -2.32301px 0px, rgb(25, 25, 22) 4.80085px -1.39708px 0px, rgb(25, 25, 22) 4.98271px -0.415447px 0px;
    font-family: "Inter Tight";
    color: #FFD600;
    font-size: 56px;
    font-weight: 900;
    line-height: 150%;
    font-style: italic;
}



/* advantages */

.advantages {
    padding: 16px 0 24px;
}
.advantages_items {
    display: flex;
    align-items: stretch;
    gap: 24px;
}
.advantages_items > * {
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25%;
    background: #fff;
    border-radius: 16px;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.04);
}
.advantages_item-icon {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 2px solid #FFD600;
    display: flex;
    align-items: center;
    justify-content: center;
}
.advantages_item-icon .icon1 {
    width: 42px;
    height: 49px;
}
.advantages_item-icon .icon2 {
    width: 47px;
    height: 47px;
}
.advantages_item-icon .icon3 {
    width: 47px;
    height: 42px;
}
.advantages_item-icon .icon4 {
    width: 47px;
    height: 42px;
}
.advantages_item-title {
    text-align: center;
    margin-top: 16px;
    color: rgb(25, 25, 22);
    font-size: 20px;
    font-weight: 400;
    line-height: 150%;
}
.advantages_item-title b {
    font-weight: 700;
}



/* result */

.result {
    padding: 32px 0;
    border-radius: 16px;
    background: rgb(25, 25, 22);
    margin: 0 166px;
}
.title_white {
    font-size: 48px;
    font-weight: 400;
    line-height: 58px;
    text-align: center;
    margin-bottom: 23px;
    color: #fff;
}
.title_white span.yellow {
    color: rgb(255, 214, 0);
    font-weight: 700;
}
.result_items {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    margin-left: -24px;
    margin-bottom: -24px;
}
.result_items > * {
    width: calc(100%/3 - 24px);
    margin-left: 24px;
    margin-bottom: 24px;
    position: relative;
    height: 270px;
}
.result_item-img {
    border-radius: 16px;
    overflow: hidden;
    position: relative;
    height: 270px;
}
.result_item-img img {
    display: block;
    width: 100%;
    height: 100%;
    transition: all ease .3s;
    object-fit: cover;
}
.result_item-top {
    position: absolute;
    top: 16px;
    left: 16px;
}
.result_item-title {
    padding: 8px 12px;
    background: #989899;
    border-radius: 12px;
    margin-bottom: 6px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    display: inline-block;
}
.result_item-adress {
    padding: 8px 12px;
    display: flex;
    align-items: center;
    gap: 10px;
    background: #989899;
    border-radius: 12px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    display: table-cell;
}
.result_item-adress .icon {
    width: 14px;
    height: 17px;

}
.result_item-bottom {
    position: absolute;
    bottom: 16px;
    left: 16px;    
    flex-direction: column;
    display: flex;
}
.result_item-label {
    padding: 2px 18px;
    background: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 400px;
}
.result_item-label span {
    font-family: "Inter Tight";
    font-size: 30px;
    font-weight: 800;
    line-height: 150%;
    font-style: italic;
    color: #FFD600;
    text-shadow: rgb(25, 25, 22) 3px 0px 0px, rgb(25, 25, 22) 2.83487px 0.981584px 0px, rgb(25, 25, 22) 2.35766px 1.85511px 0px, rgb(25, 25, 22) 1.62091px 2.52441px 0px, rgb(25, 25, 22) 0.705713px 2.91581px 0px, rgb(25, 25, 22) -0.287171px 2.98622px 0px, rgb(25, 25, 22) -1.24844px 2.72789px 0px, rgb(25, 25, 22) -2.07227px 2.16926px 0px, rgb(25, 25, 22) -2.66798px 1.37182px 0px, rgb(25, 25, 22) -2.96998px 0.42336px 0px, rgb(25, 25, 22) -2.94502px -0.571704px 0px, rgb(25, 25, 22) -2.59586px -1.50383px 0px, rgb(25, 25, 22) -1.96093px -2.27041px 0px, rgb(25, 25, 22) -1.11013px -2.78704px 0px, rgb(25, 25, 22) -0.137119px -2.99686px 0px, rgb(25, 25, 22) 0.850987px -2.87677px 0px, rgb(25, 25, 22) 1.74541px -2.43999px 0px, rgb(25, 25, 22) 2.44769px -1.73459px 0px, rgb(25, 25, 22) 2.88051px -0.838247px 0px;
}
.result_item-label + .result_item-label {
    margin-top: 6px;
}



/* stage */

.stage {
    padding: 48px 0 32px;
}
.title {
    color: rgb(25, 25, 22);
    font-size: 48px;
    font-weight: 400;
    line-height: 58px;
    text-align: center;  
    margin-bottom: 32px; 
}
.title b {
    font-weight: 700;
    position: relative;
}
.title b span {
    position: relative;
    z-index: 2;
}
.title b span:before {
    transform: rotate(-2deg);
    content: "";
    z-index: -1;
    width: 230px;
    height: 56px;
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(90.00deg, rgba(255, 214, 0, 0) 0%,rgba(255, 214, 0, 0.48) 9.948%,rgba(255, 214, 0, 0) 90.432%);
}
.stage_wrap {
    display: flex;
    border-radius: 12px;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.04);
    background: rgb(255, 255, 255);
    position: relative;
}
.stage_wrap > * {
    width: 50%;
}
.stage_items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 65px;
    row-gap: 50px;
    position: relative;
    padding: 48px 79px;
    counter-reset: tidbit-counter;
}
.stage_items::before {
    position: absolute;
    content: "";
    background: rgb(238, 238, 240);
    width: 1px;
    height: 100%;
    top: 0px;
    right: 0;   
}
.stage_item:before {
    counter-increment: tidbit-counter;
    content: counter(tidbit-counter);
    color: rgb(25, 25, 22);
    font-size: 16px;
    font-weight: 700;
    line-height: 150%;
    border-radius: 12px;
    background: rgb(255, 214, 0);
    width: 41px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -15px;
    left: -10px;
    position: absolute;
}
.stage_items > * {
    width: calc(100%/3 - 65px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.stage_item-icon {
    margin: 0 auto;
    display: block;
}
.stage_item-title {
    margin-top: 8px;
    color: rgb(25, 25, 22);
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;
    text-align: center; 
    position: relative;
}
.stage_item-title:before {
    position: absolute;
    content: "";
    width: 70%;
    height: 1px;
    background: #EAEAEA;
    bottom: -2px;
    left: 50%;
    transform: translateX(-50%);
}
.stage_item.active .stage_item-title:before {
    display: none;
}
.stage_item.active.stage_item:before {
    opacity: 0;
}
.stage_item.active .stage_item-title {
    color: #7e7e7e;
}
.stage_list {
    padding: 48px 50px;
    position: relative;
}
.stage_list-title {
    color: rgb(25, 25, 22);
    font-size: 32px;
    font-weight: 700;
    line-height: 150%;
    margin-bottom: 16px;
}
.stage_list-text {
    color: rgb(25, 25, 22);
    font-size: 20px;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 16px;
}
.stage_list ul {
    list-style: none;
}
.stage_list ul li {
    padding-left: 24px;
    color: rgb(126, 126, 126);
    font-size: 18px;
    font-weight: 400;
    line-height: 200%;  
    display: block;
	margin: 7px 0;
	background: url(../images/arrow.svg) 0 11px no-repeat;
	background-size: 13px 12px;
}
.stage_list-number {
    position: absolute;
    top: 0;
    right: 64px;
    color: rgb(245, 245, 245);
    font-size: 128px;
    font-weight: 400;
    line-height: 150%;   
}

.tabs_container .tabs {
    margin-bottom: 17px;
}
.tabs_container .tabs button.active {
    opacity: 1;
}
.tab_content.active {
    visibility: visible;
    overflow: visible;
    height: auto;
    transition: opacity .5s linear;
    pointer-events: auto;
    opacity: 1;
    display: block;
}
.tab_content {
    position: relative;
    visibility: hidden;
    overflow: hidden;
    height: 0;
    pointer-events: none;
    opacity: 0;
    display: none;
}



/* price */

.price_item-title {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 32px;
    line-height: 150%;
    color: #191916;
}
.price_item:nth-child(1) .price_item-title .icon {
    width: 24px;
    height: 29px;
    margin-left: 8px;
}
.price_item:nth-child(2) .price_item-title .icon {
    width: 24px;
    height: 24px;
    margin-left: 8px;
}
.price_item:nth-child(3) .price_item-title .icon {
    width: 24px;
    height: 22px;
    margin-left: 8px;
}
.price_item-box form {
    display: none;
}



/* reviews */

.reviews {
    padding: 32px 0 32px;
    background: #fff;
}
.reviews_items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 24px;
}
.reviews_items > * {
    width: calc(50% - 12px);
}
.reviews_item-top {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    margin-left: 36px;
}
.reviews_item-avatar {
    width: 48px;
    height: 48px;
    flex-shrink: 0;
}
.reviews_item-avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}
.reviews_item-name {
    color: rgb(25, 25, 22);
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    margin: 0 6px 0 12px;
}
.reviews_item-label {
    padding: 2px 6px;
    border-radius: 500px;
    background: rgb(13, 128, 67); 
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 700;
    line-height: 120%;
    text-decoration: none;
}
.reviews_item-text {
    padding: 24px 21px 16px 16px;
    border-radius: 20px;
    background: rgb(247, 247, 249);
    color: rgb(25, 25, 22);
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    position: relative;
}
.reviews_item-text:before {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 6px 8px 8px;
    border-color: transparent transparent rgb(247, 247, 249) transparent;
    position: absolute;
    content: "";
    top: -8px;
    left: 52px;
}
.reviews_item.hide {
    display: none;
}
.link-more.active {
    display: none;
}
.btn-page {
    border: 2px solid rgb(255, 214, 0);
    border-radius: 12px;    
    padding: 15px 10px;
    color: rgb(25, 25, 22);
    font-size: 18px;
    font-weight: 600;
    line-height: 150%;
    text-align: center;
    margin: 0px auto;
    display: inline-block;
    max-width: 192px;
    text-decoration: none;
}



.about {
    padding: 32px 0;
    position: relative;
}
.about:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    background: #E5E5E8;
}
.about_wrap {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}
.about_img {
    width: 546px;
    height: 509px;
    flex-shrink: 0;
    position: relative;
}
.about_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}
.about_list {
    list-style: none;
    width: calc(100% - 570px);
}
.about_list li {
    color: #191916;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;  
    display: flex;
    align-items: flex-start;
}
.about_list li span {
    max-width: 498px;
}
.about_list li img {
    margin-right: 16px;
}
.about_list li + li {
    margin-top: 16px;
}
.about_label {
    position: absolute;
    bottom: 16px;
    left: 16px;
    padding: 8px 12px;
    border-radius: 12px;
    background: #8b8d90;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
}



.sertificat_title {
    font-weight: 600;
}
.swiper-button-next, 
.swiper-button-prev {
    width: 26px;
    height: 26px;   
}
.swiper-button-prev {
    left: -78px;
}
.swiper-button-next {
    right: -78px;
}
.swiper-button-prev .icon {
    stroke: #000;
}
.swiper-button-prev:hover .icon {
    stroke: #7E7E7E;
}
.swiper-button-next .icon {
    stroke: #000;
}
.swiper-button-next:hover .icon {
    stroke: #7E7E7E;
}
.swiper {
    overflow: visible !important;
}
.swiper-slide.visible {
    display: flex;
    visibility: visible;
    height: auto;
    pointer-events: auto;
    opacity: 1;
    align-items: center;
    justify-content: center;
}
.swiper-slide.active {
    display: flex;
    visibility: visible;
    height: auto;
    pointer-events: auto;
    opacity: 1;
    align-items: center;
    justify-content: center;
}
.swiper-slide {
    position: relative;
    display: flex;
    visibility: hidden;
    width: auto;
    transition: opacity .2s linear, visibility .2s linear;
    pointer-events: none;
    opacity: 0;
    align-items: center;
    justify-content: center;
}
.swiper-horizontal>.swiper-pagination-bullets, 
.swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: -36px;    
}
.swiper-pagination-bullet {
    display: block;
    width: 12px;
    height: 12px;
    transition: .2s linear;
    pointer-events: auto;
    opacity: 1;
    border-radius: 50%;
    background: #E5E5E8;
}
.swiper-pagination {
    display: flex;
    justify-content: center;
}
.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, 
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0;
}
.swiper-pagination-bullet + .swiper-pagination-bullet {
    margin-left: 16px !important;
}
.swiper-pagination-bullet-active {
    background: #FFD600;
}




footer {
    padding: 32px;
    border-radius: 12px;
    background: #191916;
    margin: 32px 32px;
}
.cont {
}
.footer_items {
}
.footer_item {
}
.footer_item-title {
}
.footer_item-phone {
}
.consult_btn {
}
.icon1 {
}
.icon2 {
}
.footer_item-mail {
}
.icon {
}
.footer_item-grafic {
}
.footer_item-text {
}