/* For old browsers */
@supports (not(--css: variables)) {
    .supports_error {
        display: flex !important;
    }
}

/* For IE */
@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
    .supports_error {
        display: flex !important;
    }
}



/*------------------
    Reset styles
------------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*:before,
*:after {
    box-sizing: border-box;
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;

    overscroll-behavior: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-overflow-scrolling: touch;
    text-rendering: optimizeLegibility;
    text-decoration-skip: objects;
}

img {
    border-style: none;
}

textarea {
    overflow: auto;
}

input,
textarea,
input:active,
textarea:active,
button {
    margin: 0;

    -webkit-border-radius: 0;
    border-radius: 0;
    outline: none transparent !important;
    box-shadow: none;

    -webkit-appearance: none;
    appearance: none;
    -moz-outline: none !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    margin: 0;

    -webkit-appearance: none;
}

input[type=number] {
    -moz-appearance: textfield;
}

:focus {
    outline: 0;
}

:hover,
:active {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
}


::-ms-clear {
    display: none;
}





/*-------------------
    Global styles
-------------------*/
:root {
    --bg: #fff;
    --scroll_width: 17px;
    --text_color: #191916;
    --font_size: 18px;
    --font_size_title: 48px;
    --font_family: "Inter Tight", sans-serif;

}


::selection {
    color: #fff;

    background: #18A0FB;
}

::-moz-selection {
    color: #fff;

    background: #18A0FB;
}


.clear {
    clear: both;
}

.left {
    float: left;
}

.right {
    float: right;
}



html {
    height: 100%;
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height: fill-available;
}

body {
    color: var(--text_color);
    font-family: var(--font_family);
    font-size: var(--font_size);    
    height: 100%;
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height: fill-available;
}


button {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;

    display: inline-block;

    cursor: pointer;
    vertical-align: top;

    border: none;
    background: none;
}


.wrap {
    position: relative;

    display: flex;
    overflow: hidden;
    flex-direction: column;

    min-width: 360px;
    min-height: 100%;

    background: #f7f7f9;
}


.main {
    flex: 1 0 auto;
}


.cont {
    width: 100%;
    max-width: 1336px;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
}


.lozad {
    transition: opacity .5s linear;

    opacity: 0;
}

.lozad.loaded {
    opacity: 1;
}


.row {
    display: flex;

    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
}



.overlay {
    position: fixed;
    z-index: 102;
    top: 0;
    left: 0;

    display: none;

    width: 100%;
    height: 100%;

    opacity: .65;
    background: #000;
}



.supports_error {
    font-size: 20px;
    line-height: 30px;

    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;

    display: none;

    width: 100%;
    height: 100%;
    padding: 20px;

    text-align: center;

    background: #fff;

    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.supports_error.show {
    display: flex;
}



/* header */

header {
    padding: 18px 0 19px;
}
.header_wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header_left {
    display: flex;
    align-items: center; 
    justify-content: space-between;
    max-width: 571px;
    width: 100%;
}
.header_author {
    display: flex;
    align-items: center;
    gap: 16px;
}
.header_author-photo {
    width: 64px;
    height: 64px;
}
.header_author-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.header_author-name {
    font-family: 'Inter Tight';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    color: var(--text_color);
    margin-bottom: 6px;
}
.header_author-post {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    color: #FFD600;
    padding: 3px 6px;
    background: var(--text_color);
    border-radius: 500px;
    text-align: center;
    display: inline-block;
}
.header_rating-text {
    font-family: 'Inter Tight';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--text_color);
}
.header_rating-text span {
    font-weight: 700;
    padding: 3px 6px;
    background: #FFD600;
    border-radius: 100px;
}
.header_rating-text a {
    text-decoration: none;
    background:#0D8043;
    font-weight: 700;
    padding: 3px 6px;
    border-radius: 100px;
    color: #fff;
}
.header_right {
    display: flex;
    align-items: center;
    gap: 34px;
}
.header-contact {
    text-align: end;
}
.header_phone {
    text-decoration: none;
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
    letter-spacing: 0%;
    color: var(--text_color);
}
.header_time {
    font-family: 'Inter Tight';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #7E7E7E;
}
.header_soc {
    display: flex;
    gap: 12px;
}
.header_soc-item {
    text-decoration: none;
    width: 64px;
    height: 64px;
    border-radius: 12px;   
    display: flex; 
    align-items: center;
    justify-content: center;
    transition: all ease .3s;
}
.header_soc-item:nth-child(1) {
    border: 2px solid #3ADC57;
    transition: all ease .3s;
}
.header_soc-item:nth-child(1):hover {
    background: #3ADC57;
    transition: all ease .3s;
}
.header_soc-item:nth-child(1):active {
    background: #41D55A;
    border: 2px solid #41D55A;
    transition: all ease .3s;
}
.header_soc-item:nth-child(2) {
    border: 2px solid #34B0DF;
    transition: all ease .3s;
}
.header_soc-item:nth-child(2):hover {
    background: #34B0DF;
    transition: all ease .3s;
}
.header_soc-item:nth-child(2):active {
    background: #208BD4;
    border: 2px solid #208BD4;
}
.header_soc-item .icon1 {
    fill: #3ADC57;    
    width: 32px;
    height: 32px;
}
.header_soc-item .icon2 {
    fill: #34B0DF;    
    width: 32px;
    height: 26px;
}
.header_soc-item:hover .icon1 {
    fill: #fff;
    transition: all ease .4s;
}
.header_soc-item:hover .icon2 {
    fill: #fff;
    transition: all ease .4s;
}




/* first-section */

.first-section {
    padding: 48px 0 56px;
    border-radius: 16px;
    margin: 0 166px;    
    background: url(../images/first-section_img.png), linear-gradient(0.00deg, rgb(255, 214, 0) 33.736%,rgba(255, 214, 0, 0.21) 98.012%);
    background-repeat: no-repeat;
    background-position: 80% center;
}
.first-section_title {
    font-size: 56px;
    font-weight: 500;
    line-height: 68px;
    color: rgb(87, 77, 24);
    margin-bottom: 14px;
}
.first-section_title b {
    font-weight: 800;
    color: var(--text_color);
    position: relative;
    z-index: 2;
}
.first-section_title b:before {
    transform: rotate(-2deg);
    content: "";
    z-index: -1;
    width: 470px;
    height: 78px;
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(92.29deg, rgba(255, 255, 255, 0) 0.042%,rgb(255, 255, 255) 8.062%,rgba(255, 255, 255, 0) 100.287%);
}
.first-section_text {
    color: var(--text_color);
    font-size: 36px;
    font-weight: 400;
    line-height: 44px;
    display: flex;
    align-items: center;
}
.first-section_text br {
    display: none;
}
.first-section_text span {
    position: relative;
    margin-right: 45px;
}
.first-section_text span:nth-child(1):after {
    position: absolute;
    content: "";
    width: 38px;
    height: 38px;
    top: 7px;
    right: -42px;
    background: url(../images/order.svg);
}
.first-section_text span:nth-child(2):after {
    position: absolute;
    content: "";
    width: 30px;
    height: 38px;
    top: 7px;
    right: -40px;
    background: url(../images/rouble.svg);
}
.first-section_text .icon1 {
    width: 38px;
    height: 38px;
    display: block;
    margin: 0 10px;
}
.first-section_text .icon2 {
    width: 30px;
    height: 38px;
    display: block;
    margin: 0 10px;
}
.consult {
    border-radius: 16px;
    box-shadow: 0px 6px 16px 0px rgba(0, 0, 0, 0.12);
    background: rgb(255, 255, 255);  
    padding: 0 24px 24px;
    max-width: 636px;
    margin-top: 32px;
}
.consult_text {
    color: var(--text_color);
    font-size: 18px;
    font-weight: 500;
    line-height: 150%;   
    display: flex;
    align-items: center;
    justify-content: center; 
    gap: 16px;
    margin-bottom: 9px;
}
.consult_title {
    color: var(--text_color);
    font-size: 24px;
    font-weight: 600;
    line-height: 150%;
    margin-bottom: 12px;
    text-align: center;
}
.consult_btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    margin-bottom: 16px;
}
.consult_btn a {
    text-decoration: none;
    padding: 21px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
    line-height: 150%;
    width: 100%;
    text-align: center;
}
.consult_btn a:nth-child(1) {
    border-radius: 12px;
    box-shadow: 0px 2px 0px 0px rgb(24, 158, 48);
    background: linear-gradient(180.00deg, rgb(97, 253, 125) 0%,rgb(37, 207, 67) 100%);
}
.consult_btn a:nth-child(1):hover {
    box-shadow: 0px 2px 0px 0px rgb(48, 205, 75);
    background: linear-gradient(180.00deg, rgb(116, 244, 139) 0%,rgb(42, 243, 78) 100%);
}
.consult_btn a:nth-child(1):active {
    background: rgb(39, 208, 69);
}
.consult_btn a:nth-child(2) {
    border-radius: 12px;
    box-shadow: 0px 2px 0px 0px rgb(14, 90, 141);
    background: linear-gradient(211.72deg, rgb(52, 176, 223) 53.497%,rgb(30, 136, 211) 125.856%);
}
.consult_btn a:nth-child(2):hover {
    box-shadow: 0px 2px 0px 0px rgb(21, 129, 205);
    background: linear-gradient(180.00deg, rgb(136, 222, 255) 0%,rgb(41, 166, 255) 100%);    
}
.consult_btn a:nth-child(2):active {
    background: rgb(36, 147, 214);
}
.consult_btn a .icon1 {
    width: 25px;
    height: 24px;
}
.consult_btn a .icon2 {
    width: 25px;
    height: 20px;
}
.consult_label {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    color: rgb(126, 126, 126);
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
}
.consult_label .icon {
    width: 26px;
    height: 26px;
}
.consult_text {
    color: var(--text_color);
    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0%;
}
.consult_text span {
    text-shadow: rgb(25, 25, 22) 5px 0px 0px, rgb(25, 25, 22) 4.90033px 0.993347px 0px, rgb(25, 25, 22) 4.60531px 1.94709px 0px, rgb(25, 25, 22) 4.12668px 2.82321px 0px, rgb(25, 25, 22) 3.48353px 3.58678px 0px, rgb(25, 25, 22) 2.70151px 4.20736px 0px, rgb(25, 25, 22) 1.81179px 4.6602px 0px, rgb(25, 25, 22) 0.849836px 4.92725px 0px, rgb(25, 25, 22) -0.145998px 4.99787px 0px, rgb(25, 25, 22) -1.13601px 4.86924px 0px, rgb(25, 25, 22) -2.08073px 4.54649px 0px, rgb(25, 25, 22) -2.94251px 4.04248px 0px, rgb(25, 25, 22) -3.68697px 3.37732px 0px, rgb(25, 25, 22) -4.28444px 2.57751px 0px, rgb(25, 25, 22) -4.71111px 1.67494px 0px, rgb(25, 25, 22) -4.94996px 0.7056px 0px, rgb(25, 25, 22) -4.99147px -0.291871px 0px, rgb(25, 25, 22) -4.83399px -1.27771px 0px, rgb(25, 25, 22) -4.48379px -2.2126px 0px, rgb(25, 25, 22) -3.95484px -3.05929px 0px, rgb(25, 25, 22) -3.26822px -3.78401px 0px, rgb(25, 25, 22) -2.4513px -4.35788px 0px, rgb(25, 25, 22) -1.53666px -4.75801px 0px, rgb(25, 25, 22) -0.560763px -4.96845px 0px, rgb(25, 25, 22) 0.437495px -4.98082px 0px, rgb(25, 25, 22) 1.41831px -4.79462px 0px, rgb(25, 25, 22) 2.34258px -4.41727px 0px, rgb(25, 25, 22) 3.17346px -3.86382px 0px, rgb(25, 25, 22) 3.87783px -3.15633px 0px, rgb(25, 25, 22) 4.4276px -2.32301px 0px, rgb(25, 25, 22) 4.80085px -1.39708px 0px, rgb(25, 25, 22) 4.98271px -0.415447px 0px;
    font-family: "Inter Tight";
    color: #FFD600;
    font-size: 56px;
    font-weight: 900;
    line-height: 150%;
    font-style: italic;
}



/* advantages */

.advantages {
    padding: 16px 0 24px;
}
.advantages_items {
    display: flex;
    align-items: stretch;
    gap: 24px;
}
.advantages_items > * {
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    background: #fff;
    border-radius: 16px;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.04);    
}
.advantages_item-icon {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 2px solid #FFD600;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    transition: all ease .3s;
}
.advantages_item:hover .advantages_item-icon {
    background: #FFD600;
}
.advantages_item-icon .icon1 {
    width: 42px;
    height: 49px;
}
.advantages_item-icon .icon2 {
    width: 47px;
    height: 47px;
}
.advantages_item-icon .icon3 {
    width: 47px;
    height: 42px;
}
.advantages_item-icon .icon4 {
    width: 47px;
    height: 42px;
}
.advantages_item-title {
    text-align: center;
    margin-top: 16px;
    color: var(--text_color);
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
}
.advantages_item-title b {
    font-weight: 700;
}



/* result */

.result {
    padding: 32px 0;
    border-radius: 16px;
    background: var(--text_color);
    margin: 0 166px;
}
.title_white {
    font-size: var(--font_size_title);
    font-weight: 400;
    line-height: 58px;
    text-align: center;
    margin-bottom: 23px;
    color: #fff;
}
.title_white span.yellow {
    color: rgb(255, 214, 0);
    font-weight: 700;
}
.result_items {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    margin-left: -24px;
    margin-bottom: -24px;
}
.result_items > * {
    width: calc(100%/3 - 24px);
    margin-left: 24px;
    margin-bottom: 24px;
    position: relative;
    height: 270px;
}
.result_item-img {
    border-radius: 16px;
    overflow: hidden;
    position: relative;
    height: 270px;
}
.result_item-img img {
    display: block;
    width: 100%;
    height: 100%;
    transition: all ease .3s;
    object-fit: cover;
    transition: all ease .3s;
}
.result_item:hover img {
    transform: scale(1.2);
}
.result_item-top {
    position: absolute;
    top: 16px;
    left: 16px;
}
.result_item-title {
    padding: 8px 12px;
    background: rgba(40, 40, 42, .48);
    border-radius: 12px;
    margin-bottom: 6px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    display: inline-block;
}
.result_item-adress {
    padding: 8px 12px;
    display: flex;
    align-items: center;
    gap: 10px;
    background: rgba(40, 40, 42, .48);
    border-radius: 12px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    display: table-cell;
}
.result_item-adress .icon {
    width: 14px;
    height: 17px;

}
.result_item-bottom {
    position: absolute;
    bottom: 16px;
    left: 16px;    
    flex-direction: column;
    display: flex;
}
.result_item-label {
    padding: 2px 18px;
    background: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 400px;
    width: fit-content;
    font-weight: 500;
    font-size: 16px;
}
.result_item-label span {
    font-family: "Inter Tight";
    font-size: 30px;
    font-weight: 800;
    line-height: 150%;
    font-style: italic;
    color: #FFD600;
    text-shadow: rgb(25, 25, 22) 3px 0px 0px, rgb(25, 25, 22) 2.83487px 0.981584px 0px, rgb(25, 25, 22) 2.35766px 1.85511px 0px, rgb(25, 25, 22) 1.62091px 2.52441px 0px, rgb(25, 25, 22) 0.705713px 2.91581px 0px, rgb(25, 25, 22) -0.287171px 2.98622px 0px, rgb(25, 25, 22) -1.24844px 2.72789px 0px, rgb(25, 25, 22) -2.07227px 2.16926px 0px, rgb(25, 25, 22) -2.66798px 1.37182px 0px, rgb(25, 25, 22) -2.96998px 0.42336px 0px, rgb(25, 25, 22) -2.94502px -0.571704px 0px, rgb(25, 25, 22) -2.59586px -1.50383px 0px, rgb(25, 25, 22) -1.96093px -2.27041px 0px, rgb(25, 25, 22) -1.11013px -2.78704px 0px, rgb(25, 25, 22) -0.137119px -2.99686px 0px, rgb(25, 25, 22) 0.850987px -2.87677px 0px, rgb(25, 25, 22) 1.74541px -2.43999px 0px, rgb(25, 25, 22) 2.44769px -1.73459px 0px, rgb(25, 25, 22) 2.88051px -0.838247px 0px;
}
.result_item-label + .result_item-label {
    margin-top: 6px;
}
.result_btn {
    padding: 18px 24px;
    border-radius: 12px;
    border: 2px solid #4D4D4D;
    width: 100%;
    height: 62px;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    transition: all ease .3s;
}
.result_btn:hover {
    background: #4D4D4D;
}
.result_btn:active {
    color: #7E7E7E;
}
.result_item.hide {
    display: none;
}



/* stage */

.stage {
    padding: 48px 0 32px;
}
.title {
    color: var(--text_color);
    font-size: var(--font_size_title);
    font-weight: 400;
    line-height: 58px;
    text-align: center;  
    margin-bottom: 32px; 
}
.title b {
    font-weight: 700;
    position: relative;
}
.title b span {
    position: relative;
    z-index: 2;
}
.title b span:before {
    transform: rotate(-2deg);
    content: "";
    z-index: -1;
    width: 230px;
    height: 56px;
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(90.00deg, rgba(255, 214, 0, 0) 0%,rgba(255, 214, 0, 0.48) 9.948%,rgba(255, 214, 0, 0) 90.432%);
}
.stage_wrap {
    display: flex;
    border-radius: 12px;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.04);
    background: rgb(255, 255, 255);
    position: relative;
}
.stage_wrap > * {
    width: 50%;
}
.stage_items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 45px;
    row-gap: 34px;
    position: relative;
    padding: 48px 93px 30px 93px;
    counter-reset: tidbit-counter;
}
.stage_items::before {
    position: absolute;
    content: "";
    background: rgb(238, 238, 240);
    width: 1px;
    height: 100%;
    top: 0px;
    right: 0;   
}
.stage_item:before {
    counter-increment: tidbit-counter;
    content: "0" counter(tidbit-counter);
    color: var(--text_color);
    font-size: 16px;
    font-weight: 700;
    line-height: 150%;
    border-radius: 12px;
    background: rgb(255, 214, 0);
    width: 41px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 7px;
    left: 12px;
    position: absolute;
}
.stage_items > * {
    width: calc(100%/3 - 45px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all ease .3s;
}
.stage_item-icon {
    margin: 0 auto;
    display: block;
    width: 120px;
    height: 90px;
    background: #FAFAFA;
    padding: 20px 0px 0;
    border-radius: 12px;
    border: 1px solid transparent;
}
.stage_item-title {
    margin-top: 9px;
    color: var(--text_color);
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;
    text-align: center; 
    display: block;
    position: relative;
}
.stage_item-title:before {
    position: absolute;
    content: "";
    width: 70%;
    height: 1px;
    background: #EAEAEA;
    bottom: -2px;
    left: 50%;
    transform: translateX(-50%);
}
.stage_item:hover .stage_item-icon {
    border: 1px solid #EEEEF0;
}
.stage_item:hover .stage_item-title:before {
    background: #EEEEF0;
}
.stage_item.active .stage_item-title:before {
    display: none;
}
.stage_item.active .stage_item-title {
    color: #7e7e7e;
}
.stage_list {
    padding: 34px 50px;
    position: relative;
}
.stage_list-title {
    color: var(--text_color);
    font-size: 32px;
    font-weight: 700;
    line-height: 150%;
    margin-bottom: 16px;
}
.stage_list-text {
    color: var(--text_color);
    font-size: 20px;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 16px;
}
.stage_list ul {
    list-style: none;
}
.stage_list ul li {
    padding-left: 24px;
    color: rgb(126, 126, 126);
    font-size: 18px;
    font-weight: 400;
    line-height: 200%;  
    display: block;
	background: url(../images/arrow.svg) 0 11px no-repeat;
	background-size: 13px 12px;
}
.stage_list-number {
    position: absolute;
    top: 0;
    right: 64px;
    color: rgb(245, 245, 245);
    font-size: 128px;
    font-weight: 400;
    line-height: 150%;   
}

.tabs_container .tabs {
    margin-bottom: 17px;
}
.tabs_container .tabs button.active {
    opacity: 1;
}
.tab_content.active {
    visibility: visible;
    overflow: visible;
    height: auto;
    transition: opacity .5s linear;
    pointer-events: auto;
    opacity: 1;
    display: block;
}
.tab_content {
    position: relative;
    visibility: hidden;
    overflow: hidden;
    height: 0;
    pointer-events: none;
    opacity: 0;
    display: none;
}



/* price */


.price {
    padding: 32px 0 48px;
    position: relative;
}
.price:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    background: #E5E5E8;
}
.price_items {
    display: flex;
    gap: 24px;
    align-items: stretch;
    justify-content: space-between;
}
.price_items > * {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: calc(100%/3 - 12px);
    height: 100%;
}
.price_item-box {
    background: #fff;
    padding: 0 16px 16px;
}
.price_item-box ul {
    list-style: none;
}
.price_item-box ul li {
    font-weight: 500;
    font-size: 16px;
    line-height: 2;
    color: var(--text_color);
    text-align: center;
    border-bottom: 1px solid rgb(229, 229, 232);
}
.price_item-box ul li:last-child {
    border-bottom: none;
}
.price_item-box ul li del {
    color: rgb(126, 126, 126);
    font-weight: 400;
}
.price_item-label {
    font-weight: 600;
    font-size: 14px;
    line-height: 2;
    color: var(--text_color);
    text-align: center;
    background: #EAEAEA;
    margin-left: -16px;
    margin-right: -16px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.price_item-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 14px;
}
.price_item-sale {
    display: flex;
    align-items: center;
    color: rgb(204, 204, 204);
    font-size: 16px;
    font-weight: 500;
    line-height: 19px; 
    gap: 11px; 
}
.price_item-sale span {
    padding: 3px 6px 3px 6px;
    border-radius: 500px;
    background: rgb(255, 214, 0);
    font-size: 14px;
    font-weight: 700;
    line-height: 120%;  
    color: var(--text_color);
    display: block;
}
.price_item-text {
    color: var(--text_color);
    font-size: var(--font_size_title);
    font-weight: 700;
    line-height: 58px;
    letter-spacing: 0%;
    text-align: center; 
    display: flex;
    align-items: center;
}
.price_item-text b {
    color: var(--text_color);
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;   
}
.price_item-text span {
    color: var(--text_color);
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;   
}
.price_item-btn {
    border: 2px solid rgb(255, 214, 0);
    border-radius: 12px;
    text-decoration: none;
    color: var(--text_color);
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    padding: 19px;
    display: block;
    width: 100%;
    margin-top: 12px;
    transition: all ease .3s;
}
.price_item-btn:hover {
    background: #FFD600;
}
.price_item-btn:active {
    background: #FFEC8A;
    color: #574D18;
}
.price_item-title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 32px;
    line-height: 150%;
    color: var(--text_color);
    margin-bottom: 16px;
}
.price_item:nth-child(1) {
    border: 2px solid #F7F7F9;
}
.price_item:nth-child(2) {
    border: 2px solid #F7F7F9;
}
.price_item:nth-child(3) {
    border: 2px solid #F7F7F9;
}
.price_item:nth-child(1) .price_item-box {
    border: 1px solid transparent;
}
.price_item:nth-child(2) .price_item-box {
    border: 1px solid rgb(255, 214, 0);
    border-radius: 12px;
    background: rgb(255, 255, 255);  
}
.price_item:nth-child(2) .price_item-label {
    background: #FFD600;
}
.price_item:nth-child(3) .price_item-box {
    border: 1px solid var(--text_color);
    border-radius: 12px;
    background: rgb(255, 255, 255);
}
.price_item:nth-child(3) .price_item-label {
    background: var(--text_color);
    color: #FFD600;
}
.price_item:nth-child(1) .price_item-title .icon {
    width: 24px;
    height: 29px;
    margin-left: 8px;
}
.price_item:nth-child(2) .price_item-title .icon {
    width: 24px;
    height: 24px;
    margin-left: 8px;
}
.price_item:nth-child(3) .price_item-title .icon {
    width: 24px;
    height: 22px;
    margin-left: 8px;
}
.price_item-box form {
    display: none;
    margin-top: 29px;
}
.price_item-box form .field {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
}
.price_item-box form .field .icon {
    width: 14px;
    height: 14px;
    position: absolute;
    left: 17px;
    top: 50%;
    transform: translateY(-50%);
    fill: #7e7e7e;
}
.price_item-box form .field input {
    padding: 21px 21px 21px 47px;
    background:#EDEDF0;
    width: 100%;
    font-family: var(--font_family);
    font-weight: 500;
    font-size: 18px;
    color: var(--text_color);
    border-radius: 12px;
    border: 1px solid transparent;
}
.price_item-box form .field input:focus {
    border: 1px solid #FFD600;
}
form .field input::-webkit-input-placeholder {
    font-family: var(--font_family);
    font-weight: 400;
    font-size: 18px;
    color: #7e7e7e;
}
form .field input::-moz-placeholder {
    font-family: var(--font_family);
    font-weight: 400;
    font-size: 18px;
    color: #7e7e7e;
}
form .field input:-moz-placeholder {
    font-family: var(--font_family);
    font-weight: 400;
    font-size: 18px;
    color: #7e7e7e;
}
form .field input:-ms-input-placeholder {
    font-family: var(--font_family);
    font-weight: 400;
    font-size: 18px;
    color: #7e7e7e;
}



/* callback */

.callback {
    padding: 17px 32px 28px;
    background: var(--text_color);
    border-radius: 12px;
    margin: 0 166px;
}
.callback_title {
    display: flex;
    align-items: center;
    justify-content: center;
}
.callback_title img {
    margin-left: 16px;
}

.callback_wrap {
    display: flex;
    gap: 24px;
    padding: 0 110px;
}
.callback_left {
    width: 50%;
}
.callback_box {
    display: flex;
    gap: 24px;
}
.callback_avatar {
    width: 96px;
    height: 96px;
    flex-shrink: 0;
}
.callback_avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}
.callback_messages {
    background: #fff;
    padding: 14px 19px;
    border-radius: 16px;
    position: relative;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
}
.callback_messages:before {
    position: absolute;
    content: "";
    width: 14px;
    height: 16px;
    background: url(../images/message.png);
    left: -7px;
    bottom: 0;
}
.callback_label {
    color: rgb(126, 126, 126);
    font-size: 18px;
    font-weight: 400;
    line-height: 200%;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 28px;   
}
.callback_right {
    width: 50%;
}
.callback_phone {
    text-align: center;
    background: linear-gradient(180.00deg, rgba(255, 255, 255, 0.61),rgb(255, 255, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    font-size: var(--font_size_title);
    font-weight: 400;
    line-height: 58px;
    margin-bottom: 24px;
    display: block;
}



/* quiz */

.quiz {
    padding: 48px 0 32px;
}
.quiz_title strong {
    font-weight: 400;
    position: relative;
}
.quiz_title strong:before {
    width: 100%;
    height: 3px;
    content: "";
    position: absolute;
    background: #FFD600;
    transform: rotate(-3deg);
    left: 0;
    top: 32px;
}
.progress-bar {
    width: 100%;
    background-color: #EDEDF0;
    border-radius: 50px;
    position: relative;
    margin-bottom: 34px;
}
.progress-bar-fill {
    display: block;
    height: 24px;
    transition: width 500ms ease-in-out;
    border-radius: 400px;
    background: rgb(255, 214, 0);
}
.progress-bar-text {
    color: rgb(87, 77, 24);
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;   
    position: absolute;
    left: 50%;
    top: 0;
}
.quiz_form-title {
    color: var(--text_color);
    font-size: 32px;
    font-weight: 600;
    line-height: 39px;
    margin-bottom: 30px;
    text-align: center;
}

.quiz_form input[type=radio] {
    display: none;
}
.quiz_form .line {
    display: flex;
    flex-wrap: wrap;
    margin-left: -24px;
    margin-bottom: -16px;
}
.quiz_form .line > * {
    width: calc(100%/3 - 24px);
    margin-left: 24px;
    margin-bottom: 16px;
}
.quiz_form .field {   
    padding: 21px 12px;
    border-radius: 12px;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.04);
    background: rgb(255, 255, 255);
}
.quiz_form .field label {
    color: var(--text_color);
    font-family: "Inter Tight";
    font-size: var(--font_size);
    font-weight: 500;
    line-height: 120%;
    display: inline-block;
    font-family: inherit;
    position: relative;
    padding-left: 32px;
    cursor: pointer;
}
.quiz_form input[type=radio]:checked + label {
    color: #888;
}
.quiz_form input[type=radio] + label:before {
    width: 16px;
    height: 16px;
    border: 2px solid #FFD600;
    border-radius: 50%;
    content: "";
    position: absolute;
    left: 0px;
    top: 3px;
    background: #fff;
}
.quiz_form input[type=radio]:checked + label:after {
    width: 8px;
    height: 8px;
    content: "";
    position: absolute;
    left: 4px;
    top: 7px;
    border-radius: 50%;
    background: #FFD600; 
}

.quiz form .quiz_phone {
    display: flex;
    align-items: center;
    position: relative;
}
.quiz form .quiz_phone .icon {
    width: 14px;
    height: 14px;
    position: absolute;
    left: 17px;
    top: 50%;
    transform: translateY(-50%);
    fill: #7e7e7e;
}
.quiz form .quiz_phone input {
    padding: 21px 21px 21px 47px;
    background:#EDEDF0;
    width: 100%;
    font-family: var(--font_family);
    font-weight: 500;
    font-size: var(--font_size);
    color: var(--text_color);
    border-radius: 12px;
    border: 1px solid transparent;
}
.quiz form .quiz_phone input:focus {
    border: 1px solid #FFD600;
}
.quiz_btns {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 24px;
}
.quiz_btn {
    text-align: center;
    text-decoration: none;
    color: var(--text_color);
    padding: 0 18px;
    font-size: var(--font_size);
    font-weight: 600;
    line-height: 65px;
    border-radius: 12px;
    box-shadow: 0px 2px 0px 0px rgb(209, 176, 0);
    background: linear-gradient(0.00deg, rgb(255, 214, 0) 33.736%,rgba(255, 214, 0, 0.21) 98.012%);   
}
.quiz_btn:hover {
    box-shadow: 0px 2px 0px 0px rgb(211, 202, 0);
    background: linear-gradient(0.00deg, rgb(255, 230, 0) 33.736%,rgba(251, 255, 57, 0.58) 98.012%);   
}
.quiz_btn:active {
    box-shadow: none;
}
.loader {
    text-align: center;
    margin: 0 auto;
    width: 120px;
    height: 120px;
    border: 3px solid #EAEAEA;
    border-bottom-color: #FFD600;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    animation: rotation 1s linear infinite;
}
@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} 

.quiz_form-text {
    font-size: 20px;
    font-weight: 500;
    line-height: 150%;
    color: rgb(126, 126, 126);
    text-align: center;  
}
.quiz_form-text a {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    transition: all .3s ease;
}
.quiz_form-text a span {
    color: var(--text_color);
    font-size: 20px;
    font-weight: 500;
    line-height: 150%;
    border-bottom: 1px solid rgb(223, 223, 223);
    margin-right: 7px;
}
.quiz_form-text a:hover span {
    border-bottom: 1px solid transparent;
}
.quiz_form-text a:active span {
    color: rgb(126, 126, 126);
}
.quiz_wrap-icon {
    width: 124px;
    height: 124px;
    margin: 76px auto 0;
    display: block;
}
.quiz_wrap {
    margin-bottom: 20px;
}





/* reviews */

.reviews {
    padding: 32px 0 32px;
    background: #fff;
}
.reviews_items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 24px;
}
.reviews_items > * {
    width: calc(50% - 12px);
}
.reviews_item-top {
    display: flex;
    align-items: center;
    margin-bottom: 6px;
    margin-left: 36px;
}
.reviews_item-avatar {
    width: 48px;
    height: 48px;
    flex-shrink: 0;
}
.reviews_item-avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}
.reviews_item-name {
    color: var(--text_color);
    font-size: var(--font_size);
    font-weight: 600;
    line-height: 22px;
    margin: 0 6px 0 12px;
}
.reviews_item-label {
    padding: 2px 6px;
    border-radius: 500px;
    background: rgb(13, 128, 67); 
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 700;
    line-height: 120%;
    text-decoration: none;
}
.reviews_item-text {
    padding: 18px 21px 16px 16px;
    border-radius: 20px;
    background: rgb(247, 247, 249);
    color: var(--text_color);
    font-size: var(--font_size);
    font-weight: 400;
    line-height: 150%;
    position: relative;
}
.reviews_item-text:before {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 6px 8px 8px;
    border-color: transparent transparent rgb(247, 247, 249) transparent;
    position: absolute;
    content: "";
    top: -8px;
    left: 52px;
}
.reviews_item.hide {
    display: none;
}
.link-more.active {
    display: none;
}
.btn-page {
    border: 2px solid rgb(255, 214, 0);
    border-radius: 12px;    
    padding: 15px 10px;
    color: var(--text_color);
    font-size: var(--font_size);
    font-weight: 600;
    line-height: 150%;
    text-align: center;
    margin: 0px auto;
    display: inline-block;
    max-width: 192px;
    text-decoration: none;
}



/* about */

.about {
    padding: 32px 0;
    position: relative;
}
.about:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    background: #E5E5E8;
}
.about_wrap {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}
.about_img {
    width: 636px;
    height: 435px;
    flex-shrink: 0;
    position: relative;
}
.about_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}
.about_list {
    list-style: none;
    width: calc(100% - 660px);
}
.about_list li {
    color: var(--text_color);
    font-size: var(--font_size);
    font-weight: 500;
    line-height: 27px;  
    display: flex;
    align-items: center;
}
.about_list li img {
    margin-right: 16px;
}
.about_list li + li {
    margin-top: 16px;
}
.about_label {
    position: absolute;
    bottom: 16px;
    left: 16px;
    padding: 5px 23px;
    border-radius: 12px;
    backdrop-filter: blur(12px);
    background: rgba(40, 40, 42, 0.48);
    font-size: 16px;
    font-weight: 600;
    color: #fff;
}




/* sertificat */

.sertificat {
    padding: 32px 0 32px;
    position: relative;
}
.sertificat:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    background: #E5E5E8;
}
.sertificat_title {
    font-weight: 600;
}
.swiper-button-next, 
.swiper-button-prev {
    width: 26px;
    height: 26px;   
}
.swiper-button-prev {
    left: -78px;
}
.swiper-button-next {
    right: -78px;
}
.swiper-button-prev .icon {
    stroke: #000;
}
.swiper-button-prev:hover .icon {
    stroke: #7E7E7E;
}
.swiper-button-next .icon {
    stroke: #000;
}
.swiper-button-next:hover .icon {
    stroke: #7E7E7E;
}
.swiper {
    overflow: visible !important;
}
.swiper-slide.visible {
    display: flex;
    visibility: visible;
    height: auto;
    pointer-events: auto;
    opacity: 1;
    align-items: center;
    justify-content: center;
}
.swiper-slide.active {
    display: flex;
    visibility: visible;
    height: auto;
    pointer-events: auto;
    opacity: 1;
    align-items: center;
    justify-content: center;
}
.swiper-slide {
    position: relative;
    display: flex;
    visibility: hidden;
    width: auto;
    transition: opacity .2s linear, visibility .2s linear;
    pointer-events: none;
    opacity: 0;
    align-items: center;
    justify-content: center;
}
.swiper-slide img {
    width: 100%;
}
.swiper-button-next:after, 
.swiper-rtl .swiper-button-prev:after {
    display: none;
}
.swiper-button-prev:after, 
.swiper-rtl .swiper-button-next:after {
    display: none;
}
.swiper-horizontal>.swiper-pagination-bullets, 
.swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: -36px;    
}
.swiper-pagination-bullet {
    display: block;
    width: 12px;
    height: 12px;
    transition: .2s linear;
    pointer-events: auto;
    opacity: 1;
    border-radius: 50%;
    background: #E5E5E8;
}
.swiper-pagination {
    display: flex;
    justify-content: center;
}
.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, 
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0;
}
.swiper-pagination-bullet + .swiper-pagination-bullet {
    margin-left: 16px !important;
}
.swiper-pagination-bullet-active {
    background: #FFD600;
}
.swiper-slide {
    position: relative;
    cursor: pointer;
}
.sertificat_button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 58px;
    height: 58px;
    border-radius: 50%;
    backdrop-filter: blur(12px);
    background: rgba(40, 40, 42, 0.36);
    display: flex;
    align-items: center;
    justify-content: center;
}
.sertificat_button .icon {
    width: 20px;
    height: 20px;
    stroke: #fff;
}
.swiper-slide:hover .sertificat_button .icon {
    stroke: #FFD600;
    transition: all 0.3s ease;
}



.footer_wrap {
    padding: 32px 32px;
    border-radius: 12px;
    background: var(--text_color);
    margin: 32px 32px 0;
}
.footer_items {
    display: flex;
    gap: 24px;
    max-width: 1116px;
    margin: 0 auto;
}
.footer_items > * {
    width: calc(100%/3);
}
.footer_item-title {
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: 600;
    line-height: 150%;
    margin-bottom: 16px;
}
.footer_item ul {
    list-style: none;
}
.footer_item ul li {
    display: flex;
    align-items: center;
    gap: 12px;
    color: rgb(247, 247, 249);
    font-size: var(--font_size);
    font-weight: 400;
    line-height: 200%;
}
.footer_item ul li a {
    text-decoration: none;
}
.footer_item ul li + li {
    margin-top: 5px;
}
.footer_item ul li span {
    margin-left: 12px;
    color: var(--text_color);
    font-size: 14px;
    font-weight: 700;
    line-height: 120%;
    padding: 3px 6px;
    border-radius: 100px;
    background: #FFD600;
}
.footer_item ul li b {
    border-bottom: 1px solid rgba(255, 255, 255, 0.16);
    color: rgb(247, 247, 249);
    font-size: var(--font_size);
    font-weight: 400;
    line-height: 200%;
    transition: all ease .3s;
}
.footer_item ul li:hover b {
    border-bottom: 1px solid #FFD600;
}
.footer_item ul li:active b {
    border-bottom: none;
    color: #7E7E7E;
}
.footer_item-phone {
    text-decoration: none;
    display: block;
    background: linear-gradient(180.00deg, rgba(255, 255, 255, 0.61),rgb(255, 255, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    font-size: 36px;
    font-weight: 300;
    line-height: 44px;
    margin-bottom: 24px;
}
.footer_item-mail {
    display: flex;
    align-items: center;
    gap: 16px;
    color: rgb(255, 214, 0);
    font-size: 24px;
    font-weight: 400;
    line-height: 200%;
    text-decoration: none;
    margin-bottom: 20px;
    white-space: nowrap;
}
.footer_item-mail .icon {
    width: 23px;
    height: 18px;
    flex-shrink: 0;
}
.footer_item-mail span {
    border-bottom: 1px solid rgba(255, 214, 0, 0.12);    
}
footer .consult_btn {
    margin-bottom: 24px;
}
.footer_item-grafic {
    color: rgb(126, 126, 126);
    font-size: var(--font_size);
    font-weight: 400;
    line-height: 200%;   
    margin-bottom: 12px; 
}
.footer_item-text {
    color: rgb(126, 126, 126);
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;
}
.footer_bottom {
    padding: 24px 0 32px;
}
.footer_bottom-title {
    color: var(--text_color);
    font-size: 24px;
    font-weight: 600;
    line-height: 150%; 
    margin-bottom: 16px; 
    text-align: center; 
}
.footer_bottom-text {
    color: rgb(126, 126, 126);
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
    text-align: center;
    max-width: 1116px;
}